# anything within data
data/
tmpData/
# supplement
supplement/
# any of the images created
images/*
results/*
# any html or xls, xlsx etc files.
*.RData
*.Rhistory
*.png
*.html
*.pdf
*.xls
*.xlsx
*.js
*.css
*.woff
*.Rproj.user
*.log
# Latex files
*.aux
*.toc
*.tex
*.bib

# further analysis files
*.ipynb

**/__pycache__/**